click==7.1.1
Flask==1.1.2
flask-marshmallow==0.9.0
flask_migrate==2.1.1
Flask-RESTful==0.3.5
flask_script==2.0.6
flask-sqlalchemy==2.3.1
requests==2.21.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
flask_script==2.0.6
flask-sqlalchemy==2.3.1
requests==2.21.0
webargs==5.5.1